body {
    font-family: monospace;
    background-color: slateblue;
    color: aliceblue;
}

#content{
    margin: auto;
    width: 75%;
}

#log{
    font-family: monospace;
    border: solid black 1px;
    margin: auto;
    background-color: darkslateblue;
    padding:5px;
    width:100%;
    height: 400px;
    overflow-y: auto;
}

#logged-in {
    display: inline-block;
    margin-bottom: 25px;
}

.warning {
    font-weight: bold;
}

#controls {
    display:none;
}

#new-user-email {
    margin-left: 23px;
}

input {
    font-family: monospace;
    background-color: darkslateblue;
    color: aliceblue;
    padding: 5px 5px;
    margin: 8px 0;
    border-width: 1px;
    border-color: black;
}

#message {
    width: 100%;
}

p {
    margin: 0px;
}

nav {
    width: 200px;
    padding: 2px;
    list-style-type: none;
    border: solid black 1px;
}

.msg {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}

button {
    font-family: monospace;
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button:hover{
    background-color:purple;
}

button:active{
    background-color: darkred;
}

a:visited {
    color: gold;
}

a:link {
    color: gold;
}

a:hover{
    color: palevioletred;
}