body {
    font-family: monospace;
    background-color: slateblue;
    color: aliceblue;
}

input {
    background-color: darkslateblue;
    color: aliceblue;
    padding: 5px 5px;
    margin: 8px 0;
    border-width: 1px;
    border-color: black;
}

button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

p {
    margin: 0px;
}

nav {
    list-style-type: none;
    margin-top: 10px;
}

button {
    font-family: monospace;
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#play-sh {
    margin-top: 10px;
}

#purge-sh {
    font-size: 8px;
}

#purge-password {
    width: 50px;
    font-size: 10px;
    height: 10px;
}

button:hover {
    background-color: purple;
}

button:active {
    background-color: darkred;
}

a:visited {
    color: gold;
}

a:link {
    color: gold;
}

a:hover {
    color: palevioletred;
}

.warning {
    font-weight: bold;
}

.guide {
    font-size: 20px;
}

#log {
    border: solid black 1px;
    background-color: darkslateblue;
    padding: 5px;
    width: 99%;
    height: 200px;
    overflow: auto;
    display: inline-block;
}

#logged-in {
    display: inline-block;
    margin-bottom: 10px;
}

#players {
    display: inline-block;
}

#hud-bottom {
    padding-top: 50px;
    display: inline-block;
    width: 100%;
}

#notes {
    float: right;
    color: aliceblue;
    font-family: monospace;
    margin-right: 52px;
    border: solid black 1px;
    background-color: darkslateblue;
    width: 35%;
    height: 150px;
    resize: none;
    font-size: 13px;
    padding: 5px;
}

#hud-top{
    display:inline-block;
    width: 100%;
}

#hand {
    border: solid black 1px;
    background-color: darkslateblue;
    display: inline-block;
    padding: 5px;
    width: 35%;
    vertical-align: top;
    height: 200px;
}


.player {
    background-color: darkblue;
    padding: 4px;
    display: inline-block;
    margin-right: 4px;
}

#chat {
    display: inline-block;
    width:60%;
}

.player-ready{
    background-color:green;
    padding: 4px;
    display: inline-block;
    margin-right: 4px;
}

.player-chancellor {
    background-color:darkblue;
    padding: 4px;
    display: inline-block;
    margin-right: 4px;
    border: solid red 3px;
}

.player-president {
    background-color:darkblue;
    padding: 4px;
    display: inline-block;
    margin-right: 4px;
    border: solid cyan 3px;
}

.msg {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}

.player:hover {
    background-color: darkgreen;
}

.player:active{
    background-color:chartreuse;
}

.role {
    font-size: 40px;
}

#card-a {
    background-color: cornflowerblue;
    width: 30%;
    height: 75%;
    margin-top: 15px;
    margin-left: 8px;
}

#card-b {
    background-color: cornflowerblue;
    width: 30%;
    height: 75%;
    margin-top: 15px;
    margin-left: 8px;
}

#card-c {
    background-color: cornflowerblue;
    width: 30%;
    height: 75%;
    margin-top: 15px;
    margin-left: 8px;
}

#card-a:active{
   background-color: deepskyblue;
}

#card-a:hover{
    background-color: darkblue;
}

#card-b:active{
    background-color: deepskyblue;
}

#card-b:hover{
    background-color: darkblue;
}

#card-c:active{
    background-color: deepskyblue;
}

#card-c:hover{
    background-color: darkblue;
}

#cards {
    width: 100%;
    padding: 0px;
    height: 100%;
}

.abl:active{
    background-color: deepskyblue;
}

.abl:hover{
    background-color: darkblue;
}

.abl:disabled{
    background-color: mediumpurple;
}

.abl {
    background-color: cornflowerblue;
    float:right;
    margin-right: 15px;
}

#inv-abl {
    margin-right: 54px;
}
