body {
    font-family: monospace;
    background-color: slateblue;
    color: aliceblue;
}

input {
    background-color: darkslateblue;
    color: aliceblue;
    padding: 5px 5px;
    margin: 8px 0;
    border-width: 1px;
    border-color: black;
}

button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

p {
    margin: 0px;
}

nav {
    list-style-type: none;
}

button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button:hover {
    background-color: purple;
}

button:active {
    background-color: darkred;
}

a:visited {
    color: gold;
}

a:link {
    color: gold;
}

a:hover {
    color: palevioletred;
}

#log {
    border: solid black 1px;
    background-color: darkslateblue;
    padding: 5px;
    width: 80%;
}

#players {
    display: inline-block;
}

#chat {
    padding-top: 50px;
}

.player {
    background-color: darkblue;
    padding: 4px;
    display: inline-block;
    margin-right: 4px;
}

.player-ready{
    background-color:green;
    padding: 4px;
    display: inline-block;
    margin-right: 4px;
}

.msg {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
}

.player:hover {
    background-color: darkgreen;
}

.role {
    font-size: 40px;
}
