body {
    font-family: monospace;
    background-color: slateblue;
    color: aliceblue;
}

input {
    background-color: darkslateblue;
    color: aliceblue;
    padding: 5px 5px;
    margin: 8px 0;
    border-width: 1px;
    border-color: black;
}

#post-content {
    background-color: darkslateblue;
    color: aliceblue;
    border-width: 1px;
    width: 100%;
    height: 100px;
    border-color: black;
    resize:none;
}

#new-post{
    margin-right: 1100px;
    color: aliceblue;
}

button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

p {
    margin: 0px;
}

nav {
    list-style-type: none;
}

button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button:hover{
    background-color:purple;
}

button:active{
    background-color: darkred;
}

a:visited {
    color: gold;
}

a:link {
    color: gold;
}

a:hover{
    color: palevioletred;
}