body {
    font-family: monospace;
    background-color: slateblue;
    color: aliceblue;
}

input {
    background-color: darkslateblue;
    color: aliceblue;
    padding: 5px 5px;
    margin: 8px 0;
    border-width: 1px;
    border-color: black;
}

button {
    background-color: darkslateblue;
    font-family: monospace;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

p {
    margin: 0px;
}

nav {
    list-style-type: none;
}

button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#message {
    width: 100%;
}

#content {
    margin: auto;
    width: 75%;
}

#log {
    font-family: monospace;
    border: solid black 1px;
    margin-top: 20px;
    background-color: darkslateblue;
    padding: 5px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

button:hover {
    background-color: purple;
}

button:active {
    background-color: darkred;
}

a:visited {
    color: gold;
}

a:link {
    color: gold;
}

a:hover {
    color: palevioletred;
}

#judge-cards {
    width: 100%;
    background-color: darkslateblue;
    height: 200px;
    border: solid black 1px;
    margin-top: 20px;
    padding: 5px;
    display: inline-block;
}

#player-cards {
    width: 100%;
    height: 200px;
    background-color: darkslateblue;
    border: solid black 1px;
    margin-top: 20px;
    padding: 5px;
    display: inline-block;
}

#player-list {
    width: 100%;
    padding: 5px;
    height: 50px;
}

.player-card {
    background-color: darkblue;
    padding: 2px;
    margin-right: 5px;
    width: auto;
    display: inline-block;
}

.player-card:hover {
    background-color: darkred;
}

.ready-player-card {
    background-color: darkgreen;
    padding: 2px;
    margin-right: 5px;
    width: auto;
    display: inline-block;
}

.ready-player-card:hover {
    background-color: darkorange;
}

.judge {
    background-color: darkblue;
    padding: 2px;
    width: auto;
    margin-right: 5px;
    display: inline-block;
    border: solid cyan 1px;
}

.judge:hover {
    background-color: darkred;
}

#confirm-card {
    background-color: darkslategray;
    float: right;
}

#confirm-card:hover {
    background-color: darkgreen;
    float: right;
}

#confirm-card:active {
    background-color: blueviolet;
    float: right;
}

#confirm-judge-choice {
    background-color: darkslategray;
    float: right;
}

#confirm-judge-choice:hover {
    background-color: darkgreen;
    float: right;
}

#confirm-judge-choice:active {
    background-color: blueviolet;
    float: right;
}

.blue-card {
    width: 125px;
    height: 80%;
    background-color: darkblue;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}

.chosen-card {
    width: 100px;
    height: 80%;
    background-color: deepskyblue;
    color: black;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}

.judge-chosen-card {
    width: 125px;
    height: 80%;
    background-color: deepskyblue;
    color: black;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}

.white-card {
    width: 100px;
    height: 80%;
    background-color: aliceblue;
    color: black;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}

.white-card:hover {
    background-color: skyblue;
}

.judge-choice {
    width: 125px;
    height: 80%;
    background-color: aliceblue;
    color: black;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}

.judge-choice:hover {
    background-color: skyblue;
}

.hidden-card {
    width: 125px;
    height: 80%;
    background-color: aliceblue;
    color: black;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}

.winner {
    width: 125px;
    height: 80%;
    background-color: forestgreen;
    color: black;
    display: inline-block;
    text-align: left;
    vertical-align: text-top;
    padding: 5px;
    margin-right: 10px;
}
